In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
videogame = pd.read_csv('data/MMvideo.txt', delimiter=' ')
videogame.head()

   id  age   agegrp  trial  score
0  SY   34  (30,40]      1   14.3
1  SY   34  (30,40]      2   21.4
2  SY   34  (30,40]      3   27.6
3  SY   34  (30,40]      4   31.1
4  SY   34  (30,40]      5   33.2